# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/
.env

# Data files
data/
*.csv
*.xlsx

# Artifacts / Models
artifacts/
*.pkl
*.h5
*.model
*.bin

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
